@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0f111a;
  color: #e2e8f0;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer utilities {
  .animate-packet-in {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: dash 1s linear forwards;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}